@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MouldyCheeseRegular-WyMWG";
    src: url("/public/fonts/MouldyCheeseRegular-WyMWG.ttf") format("truetype");
    font-weight: 400;
    /* normal weight */
    font-style: normal;
    font-display: swap;
    /* improves loading */
}